.boxMainPage {
  @extend .flexBoxColumn;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  .create {
    visibility: hidden;
    &.make {
      visibility: visible;
    }
  }
  .choose {
    visibility: hidden;
    &.options {
      visibility: visible;
    }
  }
}
