.boxMainPage {
  @extend .flexBoxColumn;
  background: $color-main;
  padding-top: 2vh;
  width: 80%;
  height: auto;
  .boxButton {
    @extend .flexBoxColumn;
    background: $color-bg-layout;
    border: 10px solid $color-btn-border-secundary;
    margin-top: 5vh;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    .create {
      display: none;
      &.make {
        display: contents;
      }
    }
    .choose {
      display: none;
      &.options {
        display: contents;
      }
    }
  }
  .boxDetails {
    @extend .flexBoxColumn;
    margin-top: 3vh;
    margin-bottom: 5vh;
    width: 90%;
    background: $color-bg-layout;
    border: 10px solid $color-btn-border-secundary;
  }
}
