.boxUser {
  @extend .flexBoxColumn;
}

.user {
  @extend .flexBoxColumn;
  background: $color-btn-background;
  color: $color-btn-font;
  padding-top: 1vw;
  padding-bottom: 1vw;
  width: 25vw;
  margin: 2vh;
  border-radius: 20px;
  border: 10px solid $color-btn-border;
}
